.rafidland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.nandaland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.zeanland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.silatland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.asatland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.farrasland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.arkaland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.azkaland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.welan:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.domberion:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.newzeanland:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.sepia:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.leoneury:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.atherium:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.coven:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.duravan:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.welanstates:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.southmaritimia:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

.eastmaritimia:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.25s ease !important;
    overflow: hidden;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    place-content: center;
    justify-items: center;
    place-items: center;
    height: 100vh;
    background: lightgray;
    background-size: 40px 40px;
}

svg {
    border-radius: 15px;
}

#countryName {
    background: #1d1d1dbf;
    padding: 25px;
}

#countrydesc {
    background: #1d1d1dbf;
    backdrop-filter: blur(10px);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: calc(100vw);
    color: white;
    box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.75);
    border: #4d4d4d solid 1px;
    height: calc(100vh);
    overflow: auto;
    animation-name: zoomIn;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

#desc a {
    color: white;
    text-decoration: none;
}

#desc i {
    font-size: 13px;
}

a {
    cursor: pointer;
}

button {
    padding: 10px;
    transform: translateY(-5px);
    font-size: 20px;
    width: 50px;
    background-color: #1d1d1d;
    border: #2d2d2d;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

span {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

img,
#object {
    border-radius: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

#imageContainer {
    width: 20%;
    float: right;
}

#newsholder {
    margin: -10px;
    margin-top: 25px;
}

#newsholder div {
    background: #1d1d1d90;
    padding: 10px;
    border-radius: 10px;
    width: calc(25% - 20px);
    display: flex;
    height: 200px;
    float: left;
    margin: 10px;
    justify-content: center;
    text-align: center;
    place-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #newsholder div {
        width: calc(100% - 20px) !important;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 41px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}

::-webkit-scrollbar-track {
    background: #1d1d1d;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #1d1d1d;
}

::-webkit-scrollbar-track:active {
    background: #1d1d1d;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}